@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora';
}

pre, tt {
  font-family: 'Inconsolata';
}

a {
  text-decoration: none;
  color: #00a9fe;
}
a:visited {
  color:#00a9fe;
}
a:hover {
  border-bottom: 1px dotted #00a9fe;
}

/* fade animation */
.remark-fading {
  z-index: 9;
}

.remark-slide-container {
  transition: opacity 0.5s ease-out;
  opacity: 0;
}

.remark-visible {
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

.remark-slide-content {
  font-size: 1.7rem;
  color: #f2f2f2;
  background-color: #181818;
}

.title {
  font-size: 5rem;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

/***** print *****/
@page {
  size: 908px 681px;
  margin: 0;
}

@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}
