<p>Built using <a href="http://getpelican.com" target="_blank">Pelican</a> · <a href="http://ricma.co/gitweb/?p=site.git" target="_blank">Oniony</a> theme based on <a href="https://github.com/alexandrevicenzi/flex" target="_blank">Flex</a> by <a href="http://alexandrevicenzi.com" target="_blank">Alexandre Vicenzi</a></p>
