<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  {% if GOOGLE_ANALYTICS %}
    {% include "partial/ga.html" %}
  {% endif %}

  <link href='https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans:400,400i,700,700i|Ruda:400,700|Special+Elite' rel='stylesheet' type='text/css'>
  {% if USE_LESS %}
    <link rel="stylesheet/less" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/stylesheet/style.less">
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/scripts/vendor/less.min.js" type="text/javascript"></script>
  {% else %}
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/stylesheet/style.min.css">
  {% endif %}

  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/pygments/{{ PYGMENTS_STYLE|default('github') }}.min.css">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/font-awesome/css/font-awesome.min.css">

  {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom">
  {% endif %}

  {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS">
  {% endif %}

  {% if FAVICON %}
    <link rel="shortcut icon" href="{{ FAVICON }}" type="image/x-icon">
    <link rel="icon" href="{{ FAVICON }}" type="image/x-icon">
  {% endif %}

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="{{ ROBOTS }}" />

  {% if BROWSER_COLOR %}
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="{{ BROWSER_COLOR }}">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="{{ BROWSER_COLOR }}">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  {% endif %}

  {% block meta %}
    <meta name="author" content="{{ AUTHOR }}" />
    <meta name="description" content="{{ SITEDESCRIPTION }}" />
    {% include "partial/og.html" %}
  {% endblock %}

  <title>{{ SITENAME }}{% block title %}{% endblock %}</title>
</head>
<body>
  {% if GOOGLE_TAG_MANAGER %}
    {% include "partial/gtm.html" %}
  {% endif %}
  <aside>
    <div>
      <a href="{{ SITEURL }}">
        {% if SITELOGO %}
        <img src="{{ SITEURL }}/{{ SITELOGO }}" alt="{{ SITETITLE }}" title="{{ SITETITLE }}">
        {% else %}
        <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/profile.png" alt="{{ SITETITLE }}" title="{{ SITETITLE }}">
        {% endif %}
      </a>
      <h1><a href="{{ SITEURL }}">{{ SITETITLE }}</a></h1>
      {% if SITESUBTITLE %}<p>{{ SITESUBTITLE }}</p>{% endif %}
      {% if pages or LINKS %}
      <nav>
        <ul class="list">
          {% for page in pages|sort(attribute='title') %}
          <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title|lower }}</a></li>
          {% endfor %}
          {% for name, link in LINKS %}
          <li><a href="{{ link }}" target="_blank">{{ name }}</a></li>
          {% endfor %}
        </ul>
      </nav>
      {% endif %}
      <ul class="social">
        {% for name, link in SOCIAL %}
        <li><a class="sc-{{ name }}" href="{{ link }}" target="_blank"><i class="fa fa-{{ name }}"></i></a></li>
        {% endfor %}
      </ul>
    </div>
  </aside>
  <main>
    {% if MAIN_MENU %}
    <nav>
      <a href="{{ SITEURL }}">Home</a>
      {% for title, link in MENUITEMS %}
      <a href="{{ link }}">{{ title }}</a>
      {% endfor %}
      {% if FEED_ALL_ATOM %}
      <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}">Atom</a>
      {% endif %}
      {% if FEED_ALL_RSS %}
      <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}">RSS</a>
      {% endif %}
    </nav>
    {% endif %}

    {% block content %}
    {% endblock %}

    <footer>
      {% if COOKIE_POLICY and LICENSES %}
        {% include "partial/cookie_licenses.html" %}
      {% endif %}
      {% if CC_LICENSE %}
        {% include "partial/cc_license.html" %}
      {% else %}
        <p>&copy; {{ AUTHOR }} {{ COPYRIGHT_YEAR }}</p>
        {% include "partial/flex.html" %}
        {% if STATUSCAKE %}
          {% include "partial/statuscake.html" %}
        {% endif %}
      {% endif %}
    </footer>
  </main>

  {% if GUAGES %}
    {% include "partial/guages.html" %}
  {% endif %}

  {% if ADD_THIS_ID %}
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{ ADD_THIS_ID }}" async="async"></script>
  {% endif %}

  {% if PIWIK_URL and PIWIK_SITE_ID %}
    {% include "partial/piwik.html" %}
  {% endif %}

  {% block additional_js %}{% endblock %}

  {% if COOKIE_BANNER %}
    {% include "partial/cookie_banner.html" %}
  {% endif %}

  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/scripts/script.js" type="text/javascript"></script>
</body>
</html>
