@white:  #f2f2f2;
@black: #242121;
// @primary: #e85653;
// @secondary: #e8826b;
// @primary: #52b187;
// @secondary: #77cca4;
// @primary: #158ad0;
// @secondary: #3b9cd6;
@primary: #409ce5;
@secondary: #ff6ad5;
// @grey: #333333;
@grey: #2c3e4c;
@light-grey:  #eeeeee;
@med-grey:  #999999;
@serif: 'Lora', 'Times New Roman', 'Times', serif;
@sans: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
@mono: 'Inconsolata', 'Consolas', 'Courier', monospace;
@cursive: 'Special Elite', 'Impact', cursive;

html, body {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  line-height: 1.1;
}

h1{
  font-size: 2.4em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.6em
}

h4 {
  font-size: 1.36em
}

h5 {
  font-size: 1.2em
}

h6 {
  font-size: 1.1em
}

body {
  margin: 0;
  padding: 0;
  background-color: @white;
  color: @black;
  font-family: @sans;
  font-size: 1.1em;
  line-height: 1.2em;
}

a {
  color: @primary;
  text-decoration: none;
}

a:hover {
  color: @secondary;
}

hr {
  color: @light-grey;
  background-color: @light-grey;
  height: 1px;
  border: none;
  margin-top: 40px;
  margin-bottom: 40px;
}

img {
  max-width: 80%;
}

aside {
  background-color: @grey;
  color: @white;
  text-align: center;

  a {
    color: @white;
  }

  a:hover {
    color: @light-grey;
  }

  div {
    padding: 20px;
    margin: 0;

    img {
      border-radius: 50%;
      max-width: 140px;
    }

    h1 {
      font-family: @cursive;
      margin: 15px 0 5px 0;
    }

    p {
      font-family: @cursive;
      margin: 0 0 15px 0;
      font-size: .92em;
    }
  }

  nav {
    ul {
      li {
        display: inline;
        line-height: 1.6em;
        font-size: 1.28em;
        font-family: @sans;
        // text-transform: lowercase;
      }
    }
  }
}

main {
  nav {
    text-align: center;
    text-transform: uppercase;
    font-size: .90em;
    font-family: @sans;
    padding: 14px 0 14px 0;
    border-bottom: @light-grey 1px solid;

    a {
      padding: 0 4px 0 4px;
      border-right: @light-grey 1px solid;
    }

    :first-child {
      border-left: @light-grey 1px solid;
    }
  }

  .pagination {
    margin: 4% 8% 2% 8%;
    height: 20px;
  }

  .social-share {
    p {
      font-size: .8em;
    }
  }

  .clear {
    clear: both;
  }

  article {
    font-family: @serif;
    margin: 0 8% 2% 8%;

    header {
      font-family: @sans;

      h1, h2 {
        margin-bottom: 20px;
      }

      p {
        color: @med-grey;
        font-size: .82em;
      }
    }
    
    h1, h2, h3, h4, h5, h6 {
      font-family: @sans;
    }

    img {
      display: block;
      max-width: 100vw;
    }
    
    img.align-left,    
    img.align-center,
    img.align-right {
      margin: 0px auto;
    }

    code, kbd, samp, pre {
      font-family: @mono;
    }

    blockquote, pre {
      background-color: rgba(128,128,128,0.05);
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-left: 8px solid rgba(128,128,128,0.075);
      border-left-width: 10px;
    }

    blockquote {
      padding: 10px 20px;
      font-weight: 300;
      font-size: 1.1em;
    }

    pre {
      padding: 4px;
      font-size: .9em;
      overflow-x: auto;
    }

    samp {
      white-space: pre;
      display: block;
      overflow-x: auto;
    }

    kbd {
      padding: .1em .6em;
      border: 1px solid rgba(63,63,63,0.25);
      box-shadow: 0 1px 0 rgba(63,63,63,0.25);
      border-radius: 3px;
      display: inline-block;
      margin: 0 .1em;
      white-space: nowrap;
      font-size: .78em;
    }

    code {
      font-size: .8em;
      white-space: nowrap;
      padding: 1px 3px;
      border: 1px solid #e1e1e8;
      border-radius: 3px;
    }
    
    .highlight {
      background-color: inherit;
    }

    .comment-count {
      font-size: .8em;
    }

    table {
      border-collapse: collapse;
      border-spacing: 0;

      thead:first-child tr:first-child th {
         border-top: 0;
      }

      th, td {
        padding: 8px;
        line-height: 20px;
        vertical-align: top;
        border-top: 1px solid #ddd;
      }
    }
  }

  footer {
    padding-top: 4px;
    border-top: @light-grey 1px solid;

    p {
      margin: 2px;
      text-align: center;
      padding: 0 40px 0 40px;
      color: @med-grey;
      font-size: 11px;
    }
  }

  .related-posts {
    border-top: @light-grey 1px solid;
  }
}

.tag-cloud {
  font-family: @sans;
  
  a {
    background-color: @primary;
    padding: .2em .6em .2em;
    font-size: .74em;
    line-height: 1;
    color: @white;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
  }

  a:hover {
    background-color: @secondary;
  }
}

a.btn {
  font-family: @sans;

  background-color: @primary;
  padding: .4em .6em;
  font-size: .9em;
  line-height: 1;
  color: @white;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

a.btn:hover {
  background-color: @secondary;
}

.center {
  text-align: center;
}

.float-right {
  float: right;
}

.video-container {
  position: relative;
  width: 100%;
  height: 0px;
  padding-bottom: 56.25%;
}

.video {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.cookiebanner {
  span {
    font-family: @sans;
  }

  a {
    color: @primary !important;

    :hover {
      border-bottom: 1px dotted @primary;
    }
  }
}

ul.list, ul.social {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.list {
  padding: 1em 0 1em 0;

  li {
    padding: 4px;
  }
}

ul.social {
  font-size: 1.6em;
  padding-top: 20px;

  li {
    display: inline;
  }

  a:hover {
    z-index: 2;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  a {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    text-align: center;
    font-size: .8em;
    line-height: 36px;
  }

  a.sc-facebook {
    background-color: #3e5b98;
  }

  a.sc-instagram {
    background-color: #833ab4;
  }

  a.sc-google {
    background-color: #d93e2d;
  }

  a.sc-pinterest {
    background-color: #c92619;
  }

  a.sc-linkedin {
    background-color: #3371b7;
  }

  a.sc-rss {
    background-color: #f26109;
  }

  a.sc-stack-overflow {
    background-color: #ff9900;
  }

  a.sc-twitter {
    background-color: #4da7de;
  }

  a.sc-youtube {
    background-color: #e02a20;
  }

  a.sc-github, a.sc-github-alt {
    background-color: #111010;
  }

  a.sc-envelope-o {
    background-color: #578AD6;
  }

  a.sc-reddit {
    background-color: #ff4500;
  }

  a.sc-medium {
    background-color: #00ab6b;
  }

  a.sc-wordpress {
    background-color: #0087be;
  }

  a.sc-tripadvisor {
    background-color: #00a680;
  }
}

//
// Desktop
//

@media screen and (min-width: 768px) {
  aside {
    width: 25%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    
    div {
      padding: 36px 18px;

      nav {
        a:hover {
          padding-left: 10px;
          border-left: 2px solid @white;
        }
        
        ul {
          li {
            padding: 0 !important;
            display: block;
          }
        }
      }

      ul.social {
        padding-top: 32px;
      }
    }
  }

  main {
    width: 75%;
    position: absolute;
    top: 0;
    left: 25%;
    overflow-x: hidden;
    overflow-y: hidden;

    article {
      a:hover {
        border-bottom: 1px dotted @secondary;
      }

      ul.list {
        li {
          padding: 2px;
        }
      }
      
      img.align-left {
        float: left;
        margin: 5px 20px 15px 0px;
      }
      
      img.align-right {
        float: right;
        margin: 5px 0px 15px 20px;
      }
    }
  }
}
